[submodule "testcase"]
	path = testcase
	url = https://github.com/TomoakiNagahara/op-unit-bitcoin-testcase.git
[submodule "ci"]
	path = ci
	url = https://github.com/TomoakiNagahara/op-unit-bitcoin-ci.git
